# Android
android_app/build/
android_app/.gradle/
android_app/local.properties
android_app/.idea/
android_app/*.iml
android_app/.DS_Store
android_app/captures/
android_app/.externalNativeBuild/
android_app/.cxx/
android_app/gradle-8.4/
android_app/gradle.zip

# Django
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/.env
backend/media/
backend/staticfiles/
backend/venv/
backend/.coverage

# VSCode
.vscode/settings.json
.vscode/launch.json

# General
*.log
.DS_Store
node_modules/